.story {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #b4bdcc;
    
}

.timeline-line {
    border-color: rgba(105, 120, 209, 0.6);
    box-shadow: 0 8px 18px rgba(19, 173, 199, 0.2);
}
@media (min-width: 640px) {
    .sm\:left-custom {
        left: 5.6rem!important;
    }
}

@media (min-width: 768px) {
    .w-custom {
        width: 81.333333%;
    }
    
}
@media (min-width: 1024px) {
    .w-customlg {
        width: 80.333333%;
        margin-right:2px;
    }
    
}

